@import url('https://fonts.googleapis.com/css?family=Bilbo|Chicle|Lancelot|NTR|Palanquin+Dark|Passion+One');
url('https://fonts.googleapis.com/css?family=Palanquin+Dark:500|Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');



 * {


 }

 span1 {
   font-family: 'Palanquin Dark', sans-serif;
   display: inline-block;
   color: #ecf0f1;
   font-size:50px;
   position: relative;
   white-space: nowrap;
   top: 0;
   left: 0;
   -webkit-animation: move 7s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 1s;

 }


.logo img{
  height: 48px;
  width: 160px;
  margin-bottom:10px;

}

.testimonial p {
  font-family: 'Bilbo', cursive;
  font-size:30px;
}



.testimonial span {
  font-family: 'NTR', sans-serif;
  font-size: 14px;
}

  .break {
  color:black;
  font-size:40px;
  text-align: center;
}

 .scroll {
   background-color:#2eb2ff;
   height:120px;
   padding-bottom:20px;

 }



.scroll b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 60px;
  margin-left: 35%;
}


.blink_text {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 10s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; color: red;
    font-family: 'Passion One', cursive;
    font-size: 25px;

}

#summary img {
  /*box-shadow: 3px 10px 5px 10px;*/

}



#sub {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 2px;
}

#underCover img {
  height:auto;
  width:8rem;
  margin-left: 3%;
  padding: 10px;
  display: inline-block;

}

#underCover h2 {
  color: black;
  display: inline;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:18px;
  padding:6px;
  margin-left: 1%;
  letter-spacing: 1px;
  font-weight: bold;

}


  #allStuff p {
  text-align: center;
  width: auto;
  line-height: 20px;
  font-size: 20px;
  /*font-family: 'NTR', sans-serif;*/
  /*font-family: 'Open Sans Condensed', sans-serif;*/

}

  #galleryFull span{
    font-size: 16px;
    color: white;
    text-align: center;
}

  #wrap h1{
  font-family: 'Passion One', cursive;
  text-align: center;
  color: black;
}

 #galleryFull h1{
   color:white;
   margin-bottom:20%;
   font-size: 40px;
 }

/*BLINK*/
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}



/*CREATIVE*/
@keyframes move {
  0%  { top: 1px; }
  20% { top: -80px; }
  40% { top: -150px; }
  60% { top: -220px; }
  80% { top: -290px; }
}


 /*mobile/tablet*/
@media only screen and (max-width: 768px) {

  .scroll span1 {
font-size: 35px;
margin-right: 40%;
 }
  #underCover h2 {
  font-size:12px;

  }
  #allStuff img{
    width:60px;
    height:60px;
    margin-left: 3%;
  }

}


@media only screen and (max-width: 480px){



}
