@import url('https://fonts.googleapis.com/css?family=Bilbo|Chicle|Lancelot|NTR|Palanquin+Dark|Passion+One');
url('https://fonts.googleapis.com/css?family=Palanquin+Dark:500|Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');



 * {


 }

 span1 {
   font-family: 'Palanquin Dark', sans-serif;
   display: inline-block;
   color: #ecf0f1;
   font-size:50px;
   position: relative;
   white-space: nowrap;
   top: 0;
   left: 0;
   -webkit-animation: move 7s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 1s;

 }


.logo img{
  height: 48px;
  width: 170px;
  margin-bottom:10px;

}

.testimonial p {
  font-family: 'Bilbo', cursive;
  font-size:30px;
}


.testimonial span {
  font-family: 'NTR', sans-serif;
  font-size: 14px;
}

.break {
  color:black;
  font-size:40px;
  text-align: center;
}
 .new {
   background-color:#2eb2ff;
   height:120px;
   padding-bottom:20px;
 }



.new b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 60px;
  margin-left: 35%;
}

#underCover img {
  height:auto;
  width:9rem;
  margin-left: 7%;
  display: inline-block;

}

#underCover h2 {
  color: black;
  display: inline;
  font-family: 'Passion One', cursive;
  font-size:25px;
  padding:10px;
  margin-left: 3%;

}


  #allStuff p {
  text-align: center;
  width: 80%;
  line-height: 20px;
  margin-left: 5%;
  font-size: 18px;
  font-family: 'NTR', sans-serif;
}

  #galleryFull span{
    font-size: 16px;
    color: white;
    text-align: center;
}

  #wrap h1{
  font-family: 'Passion One', cursive;
  text-align: center;
  color: black;
}

 #galleryFull h1{
   color:white;
   margin-bottom:20%;
   font-size: 40px;
 }




@keyframes move {
  0%  { top: 1px; }
  20% { top: -80px; }
  40% { top: -150px; }
  60% { top: -220px; }
  80% { top: -290px; }
}


 /*mobile/tablet*/
@media only screen and (max-width: 768px) {

  #underCover h2 {
  font-size:11px;
  margin-left:1%;

  }
  #allStuff img{
    width:60px;
    height:50px;
    margin-left: 3%;
  }
}


@media only screen and (max-width: 480px){



}
